@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=PT+Sans:wght@700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1A1722;
  color: #BBD6FF;
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
}

.icon {
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  gap: 1rem;
  margin-top: 5rem;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 2px;
}

.fa {
  font-size: 3rem;
}

form {
  width: 90vw;
  margin: 1rem auto;
  border: 1px solid #BBD6FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0;
  transition: .5s ease-in-out;
  box-shadow: inset 0 0 5rem #000000; 
}

.holder {
  width: 75vw;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

.holder span {
  position: absolute;
  left: 2rem;
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
  pointer-events: none;
  transition: .5s ease-in-out;
}

.holder input {
  width: 75vw;
  height: 4.4rem;
  margin: auto;
  border: 1px solid #BBD6FF;
  border-radius: 10rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  padding: 0 2rem;
  color: #BBD6FF;
  transition: .5s ease-in-out;
  box-shadow: inset 0 0 2rem #000000;
}

.holder textarea {
  width: 75vw;
  height: 10rem;
  border: 1px solid #BBD6FF;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  color: #BBD6FF;
  padding: 1.4rem 2rem;
  transition: .5s ease-in-out;
    box-shadow: inset 0 0 3rem #000000;
}

input:focus,
textarea:focus {
  outline: none;
}

input:valid~span,
input:focus~span {
  left: 5rem;
  top: -.7rem;
  font-size: 1rem;
  padding: 0 .5rem;
  text-transform: uppercase;
  font-family: 'Audiowide', cursive;
  background-color: #BBD6FF;
  border-radius: 10rem;
  color: #1A1722;
}

textarea:valid~span,
textarea:focus~span{
  top: -.8rem;
  left: 7.5rem;
  font-size: 1.2rem;
padding: 0 .5rem;
  text-transform: uppercase;
  font-family: 'Audiowide', cursive;
  background-color: #BBD6FF;
  color: #1A1722;  
}

.btn{
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
  margin: 2rem;
  padding: .5rem 2rem;
  background-color: #BBD6FF;
  color: #1A1722;
  outline: none;
  border: 2px solid #BBD6FF;
  transition: .5s ease-out;

}
.btn:hover{
  background-color: transparent;
  border: 2px solid #BBD6FF;
  color: #BBD6FF;
}
